body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #515151;
    font-style: normal;
}

.text-secondary
{
    color: #515151;
}
.number-badge {
  aspect-ratio: 1 / 1;
  min-width: 0;             
  line-height: 1;           
}
h1
{
  font-weight: bold;
}
.submit-btn
{
   color: white;
  background-color: #131313;
}
.form-control:focus
{
   box-shadow: none !important;
}
.btn:hover span
{
   background-color: #e4572e !important ;
   border-color: transparent !important;
   color: white !important;
   transition: all 0.3s ease-in-out;
}
.no-hover:hover
{
  color: white !important;
  background-color: #131313 !important;
}

.tab-wrapper::-webkit-scrollbar
{
  display: none;
}
a:hover
{
    color: #e4572e !important;
    transition: all 0.3s ease-in-out;
}
a{
  text-decoration: none;
}
.text-nowrap {
    white-space: nowrap !important;
    scroll-behavior: smooth
  }
  .scroll-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .scroll-track {
    display: flex;
    width: max-content;
    animation: scroll-left linear infinite;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .image-container {
    transition: transform 0.3s ease;
  }
  .btn:focus, .accordion-button:focus{
    box-shadow: none !important;

  }
.accordion-button.collapsed, .accordion-button:not(.collapsed):not(:hover):not(:focus) {
  background-color: transparent !important;
  color: #131313;
}
.accordion-button::after
{
  display: none !important;
}
.fs-7
{
   font-size: 18px;
}
.accordion-button:hover,
.accordion-button:focus {
  background-color: #FEF8F7 !important;
  color: #000;
}


  .ac
  .image {
    width: 100%;
    height: auto;
    display: block;
  }

  .navbar-toggler:focus, .navbar-toggler:hover span
  {
    box-shadow: none;
    background-color: transparent !important;
  }
  
  .image-container.active {
    transform: scale(1.3);
    z-index: 1;
  }
  .tab-btn:hover, .tab-btn:focus, .tab-btn:active
  {
    background-color: #131313 !important;
    transition: all 0.3s ease-in-out;
    color: white !important;
    border-color: transparent !important;

  }
h1
{
    font-size: 40px;
    font-family: "Playfair Display";
    color: #131313;
}
.text-black
{
  color: #131313;
}


@media screen and (max-width: 768px) {
    div{
        text-align: center;
    
    }
    /* .img-fluid{
        width: 80% !important;
    } */
    span, body, h1
    {
        font-size: 16px !important;
    }
    .footerlink
    {
      text-align: center !important;
    }
}