body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #515151;
    font-style: normal;
}

button:hover span
{
   background-color: #e4572e !important ;
   border: none !important;
   color: white !important;
}
a:hover
{
    color: #e4572e;
}
h1
{
    font-size: 40px;
    font-family: "Playfair Display";
    color: #131313;
}


@media screen and (max-width: 768px) {
    div{
        text-align: center;
    
    }
    span, body, h1
    {
        font-size: 16px !important;
    }
}